*{
    margin: 0px;
    padding: 0px;
}

.container {
    border: 5px solid black;
    width: fit-content;
    padding: 50px;
    position: relative;
    top: 100px;
    left: 250px;
    
    
}

input {
    padding: 10px;
    margin: 0;
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 0;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


