
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Full screen center */
body {
  height: 100vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
Main container */
.container {
  padding: 30px 50px;
  
  border-radius: 20px;
 
 
}
/* 
Time content */
.content {
  display: flex;
  list-style: none;
  font-size: 60px;
  font-weight: bold;
  color: black;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
/* 
/* Each block */
 
.container{
    border: 10px solid blue;
    height: 100hv;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
/* .content{
    display: flex;
    gap: 100px;
    li{
        list-style: none;
        
    }
} */
